In [1]:
import os
import scanpy as sc

home = '/home/kojo/Code/temporary-trvae-clone'
os.chdir(home)

In [2]:
import pandas as pd

## Loading Data

In [3]:
pro3m = pd.read_csv('./data/alzPro/peaks_proteins_lf_3m.csv')
pro6m = pd.read_csv('./data/alzPro/peaks_proteins_lf_6m.csv')
pro9m = pd.read_csv('./data/alzPro/peaks_proteins_lf_9m.csv')

print(pro3m.columns)
print(pro6m.columns)
print(pro9m.columns)

Index(['Protein Group', 'Protein ID', 'Accession', 'Significance',
       'Coverage (%)', '#Peptides', '#Unique', 'PTM', 'Sample 3131',
       'Sample 3132', 'Sample 3140', 'Sample 3141', 'Sample 3157',
       'Sample 3153', 'Sample 3154', 'Sample 3156', 'Sample 3608',
       'Sample 3609', 'Sample 3606', 'Sample 3607', 'Sample 3347',
       'Sample 3346', 'Sample 3389', 'Sample 3388', 'Sample Profile (Ratio)',
       'M HET Intensity', 'F HET Intensity', 'M WT Intensity',
       'F WT Intensity', 'Group Profile (Ratio)', 'Avg. Mass', 'Description'],
      dtype='object')
Index(['Protein Group', 'Protein ID', 'Accession', 'Significance',
       'Coverage (%)', '#Peptides', '#Unique', 'PTM', 'Sample 3400',
       'Sample 3405', 'Sample 3526', 'Sample 3003', 'Sample 3513',
       'Sample 3392', 'Sample 3393', 'Sample 3703', 'Sample 3011',
       'Sample 3012', 'Sample 3013', 'Sample 3177', 'Sample 3325',
       'Sample 2998', 'Sample 3121', 'Sample 2997', 'Sample Profile (Ratio)',
       'WT Intensity', 'HET Intensity', 'Group Profile (Ratio)', 'Avg. Mass',
       'Description'],
      dtype='object')
Index(['Protein Group', 'Protein ID', 'Accession', 'Significance',
       'Coverage (%)', '#Peptides', '#Unique', 'PTM', 'Sample 2147 Intensity',
       'Sample 2148 Intensity', 'Sample 2150 Intensity',
       'Sample 2227 Intensity', 'Sample 2228 Intensity',
       'Sample 2583 Intensity', 'Sample 3207 Intensity',
       'Sample 3234 Intensity', 'Sample 2156 Intensity',
       'Sample 2229 Intensity', 'Sample 2232 Intensity',
       'Sample 2582 Intensity', 'Sample 2721 Intensity',
       'Sample 2146 Intensity', 'Sample 2145 Intensity',
       'Sample 2143 Intensity', 'Sample Profile (Ratio)', 'WT Intensity',
       'Het Intensity', 'Group Profile (Ratio)', 'Avg. Mass', 'Description'],
      dtype='object')

## Column Renaming

In [4]:
pro3m_v2 = pro3m.drop(['Protein Group', 'Protein ID', 'Significance',
                        'Coverage (%)', '#Peptides', '#Unique', 'PTM',
                        'Sample Profile (Ratio)', 'M HET Intensity', 
                        'F HET Intensity', 'M WT Intensity', 'F WT Intensity',
                        'Group Profile (Ratio)', 'Avg. Mass', 'Description'],
                        axis=1)
pro3m_v2 = pro3m_v2.reindex(sorted(pro3m_v2.columns), axis=1)
pro3m_v2.columns

Index(['Accession', 'Sample 3131', 'Sample 3132', 'Sample 3140', 'Sample 3141',
       'Sample 3153', 'Sample 3154', 'Sample 3156', 'Sample 3157',
       'Sample 3346', 'Sample 3347', 'Sample 3388', 'Sample 3389',
       'Sample 3606', 'Sample 3607', 'Sample 3608', 'Sample 3609'],
      dtype='object')

In [5]:
pro6m_v2 = pro6m.drop(['Protein Group', 'Protein ID', 'Significance',
                        'Coverage (%)', '#Peptides', '#Unique', 'PTM', 
                        'Sample Profile (Ratio)', 'WT Intensity', 
                        'HET Intensity', 'Group Profile (Ratio)', 'Avg. Mass',
                        'Description'], axis=1)
pro6m_v2 = pro6m_v2.reindex(sorted(pro6m_v2.columns), axis=1)
pro6m_v2.columns

Index(['Accession', 'Sample 2997', 'Sample 2998', 'Sample 3003', 'Sample 3011',
       'Sample 3012', 'Sample 3013', 'Sample 3121', 'Sample 3177',
       'Sample 3325', 'Sample 3392', 'Sample 3393', 'Sample 3400',
       'Sample 3405', 'Sample 3513', 'Sample 3526', 'Sample 3703'],
      dtype='object')

In [6]:
pro9m_v2 = pro9m.drop(['Protein Group', 'Protein ID', 'Significance',
                        'Coverage (%)', '#Peptides', '#Unique', 'PTM', 
                        'Sample Profile (Ratio)', 'WT Intensity', 
                        'Het Intensity', 'Group Profile (Ratio)', 'Avg. Mass', 
                        'Description'], axis=1)
pro9m_v2.rename(columns={'Accession': 'Accession Intensity'}, inplace=True)
pro9m_v2.rename(columns=lambda x: x[:-10], inplace=True)
pro9m_v2 = pro9m_v2.reindex(sorted(pro9m_v2.columns), axis=1)
pro9m_v2.columns

Index(['Accession', 'Sample 2143', 'Sample 2145', 'Sample 2146', 'Sample 2147',
       'Sample 2148', 'Sample 2150', 'Sample 2156', 'Sample 2227',
       'Sample 2228', 'Sample 2229', 'Sample 2232', 'Sample 2582',
       'Sample 2583', 'Sample 2721', 'Sample 3207', 'Sample 3234'],
      dtype='object')

## Data Combination

In [7]:
pro3m_v2

,Accession,Sample 3131,Sample 3132,Sample 3140,Sample 3141,Sample 3153,Sample 3154,Sample 3156,Sample 3157,Sample 3346,Sample 3347,Sample 3388,Sample 3389,Sample 3606,Sample 3607,Sample 3608,Sample 3609
0,Q7TME0|PLPR4_MOUSE,382000.0,464000.0,396000.0,503000.0,389000.0,0.0,276000.0,361000.0,560000.0,659000.0,610000.0,597000.0,613000.0,764000.0,601000.0,599000.0
1,Q5XG69|F169A_MOUSE,99900.0,99000.0,79300.0,92300.0,94600.0,0.0,66200.0,119000.0,140000.0,141000.0,132000.0,140000.0,227000.0,118000.0,116000.0,69800.0
2,Q60749|KHDR1_MOUSE,636000.0,644000.0,625000.0,631000.0,1010000.0,1200000.0,454000.0,820000.0,624000.0,831000.0,877000.0,736000.0,791000.0,822000.0,733000.0,812000.0
3,Q80ZJ1|RAP2A_MOUSE,531000.0,462000.0,400000.0,444000.0,397000.0,121000.0,357000.0,471000.0,612000.0,709000.0,727000.0,638000.0,697000.0,726000.0,564000.0,655000.0
4,Q8CDG3|VCIP1_MOUSE,81300.0,0.0,93700.0,91500.0,73800.0,67800.0,78500.0,76100.0,97700.0,94500.0,118000.0,81800.0,98600.0,111000.0,96200.0,110000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,Q9JK42|PDK2_MOUSE,0.0,226000.0,0.0,0.0,335000.0,427000.0,110000.0,140000.0,220000.0,124000.0,250000.0,222000.0,267000.0,218000.0,160000.0,467000.0
2037,P12660|PCP2_MOUSE,0.0,1190000.0,947000.0,0.0,3790000.0,9910000.0,0.0,0.0,0.0,0.0,0.0,359000.0,0.0,0.0,0.0,0.0
2038,P07309|TTHY_MOUSE,0.0,0.0,349000.0,291000.0,0.0,0.0,0.0,308000.0,408000.0,142000.0,0.0,162000.0,585000.0,468000.0,604000.0,597000.0
2039,Q9DBL1|ACDSB_MOUSE,0.0,184000.0,0.0,129000.0,123000.0,120000.0,54200.0,179000.0,127000.0,0.0,0.0,0.0,149000.0,125000.0,97700.0,0.0
2040,P97355|SPSY_MOUSE,105000.0,147000.0,131000.0,0.0,206000.0,184000.0,101000.0,0.0,0.0,149000.0,0.0,0.0,203000.0,0.0,134000.0,213000.0

### Adding missing proteins to each dataframe

In [8]:
proteins_list = set(list(pro3m_v2["Accession"]) + list(pro6m_v2["Accession"]) + list(pro9m_v2["Accession"]))
len(proteins_list)

2969

In [9]:
missing_3m = proteins_list - set(pro3m_v2["Accession"])
for protein in missing_3m:
    pro3m_v2.loc[len(pro3m_v2)] = [protein] + [0]*16
pro3m_v2.tail()

,Accession,Sample 3131,Sample 3132,Sample 3140,Sample 3141,Sample 3153,Sample 3154,Sample 3156,Sample 3157,Sample 3346,Sample 3347,Sample 3388,Sample 3389,Sample 3606,Sample 3607,Sample 3608,Sample 3609
2964,Q9QWW1|HOME2_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2965,Q61655|DD19A_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2966,Q60973|RBBP7_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2967,Q8R3Q6|CCD58_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2968,P21995|EMB_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
missing_6m = proteins_list - set(pro6m_v2["Accession"])
for protein in missing_6m:
    pro6m_v2.loc[len(pro6m_v2)] = [protein] + [0]*16
pro6m_v2.tail()

,Accession,Sample 2997,Sample 2998,Sample 3003,Sample 3011,Sample 3012,Sample 3013,Sample 3121,Sample 3177,Sample 3325,Sample 3392,Sample 3393,Sample 3400,Sample 3405,Sample 3513,Sample 3526,Sample 3703
2964,P70408|CAD10_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2965,Q80XA6|REPS2_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2966,Q8BGR6|ARL15_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2967,Q9QXB9|DRG2_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2968,D3YZI9|PGBD5_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
missing_9m = proteins_list - set(pro9m_v2["Accession"])
for protein in missing_9m:
    pro9m_v2.loc[len(pro9m_v2)] = [protein] + [0]*16
pro9m_v2.tail()

,Accession,Sample 2143,Sample 2145,Sample 2146,Sample 2147,Sample 2148,Sample 2150,Sample 2156,Sample 2227,Sample 2228,Sample 2229,Sample 2232,Sample 2582,Sample 2583,Sample 2721,Sample 3207,Sample 3234
2964,O89084|PDE4A_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2965,Q61655|DD19A_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2966,Q60973|RBBP7_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2967,P21995|EMB_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2968,D3YZI9|PGBD5_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Actual Merging

In [12]:
pro3m_v2.sort_values(by=["Accession"], inplace=True)
pro6m_v2.sort_values(by=["Accession"], inplace=True)
pro9m_v2.sort_values(by=["Accession"], inplace=True)

pro3m_v2.reset_index(drop=True, inplace=True)
pro6m_v2.reset_index(drop=True, inplace=True)
pro9m_v2.reset_index(drop=True, inplace=True)

pro3m_v2.head()

,Accession,Sample 3131,Sample 3132,Sample 3140,Sample 3141,Sample 3153,Sample 3154,Sample 3156,Sample 3157,Sample 3346,Sample 3347,Sample 3388,Sample 3389,Sample 3606,Sample 3607,Sample 3608,Sample 3609
0,A2A432|CUL4B_MOUSE,231000.0,336000.0,278000.0,251000.0,279000.0,238000.0,249000.0,298000.0,270000.0,285000.0,335000.0,273000.0,393000.0,341000.0,343000.0,398000.0
1,A2A5R2|BIG2_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A2A699|F1712_MOUSE,413000.0,255000.0,278000.0,243000.0,443000.0,257000.0,224000.0,331000.0,418000.0,439000.0,467000.0,0.0,417000.0,479000.0,449000.0,286000.0
3,A2A7S8|K1522_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A2A8L1|CHD5_MOUSE,303000.0,491000.0,225000.0,473000.0,255000.0,157000.0,329000.0,508000.0,452000.0,213000.0,531000.0,503000.0,349000.0,391000.0,367000.0,540000.0

In [13]:
pro6m_v2.head()

,Accession,Sample 2997,Sample 2998,Sample 3003,Sample 3011,Sample 3012,Sample 3013,Sample 3121,Sample 3177,Sample 3325,Sample 3392,Sample 3393,Sample 3400,Sample 3405,Sample 3513,Sample 3526,Sample 3703
0,A2A432|CUL4B_MOUSE,140000.0,241000.0,275000.0,64400.0,277000.0,182000.0,261000.0,222000.0,177000.0,185000.0,105000.0,219000.0,145000.0,170000.0,248000.0,296000.0
1,A2A5R2|BIG2_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A2A699|F1712_MOUSE,797000.0,572000.0,462000.0,296000.0,397000.0,446000.0,1070000.0,742000.0,693000.0,854000.0,1150000.0,564000.0,703000.0,415000.0,807000.0,1230000.0
3,A2A7S8|K1522_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A2A8L1|CHD5_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
pro9m_v2.head()

,Accession,Sample 2143,Sample 2145,Sample 2146,Sample 2147,Sample 2148,Sample 2150,Sample 2156,Sample 2227,Sample 2228,Sample 2229,Sample 2232,Sample 2582,Sample 2583,Sample 2721,Sample 3207,Sample 3234
0,A2A432|CUL4B_MOUSE,65400.0,68700.0,52100.0,52900.0,77600.0,77700.0,75800.0,89500.0,88200.0,95400.0,55000.0,84300.0,69100.0,56300.0,49100.0,58100.0
1,A2A5R2|BIG2_MOUSE,103000.0,90200.0,70100.0,38700.0,99800.0,28800.0,37500.0,53400.0,81900.0,62800.0,34200.0,88300.0,83300.0,0.0,33200.0,49700.0
2,A2A699|F1712_MOUSE,95900.0,216000.0,143000.0,104000.0,100000.0,175000.0,89900.0,227000.0,120000.0,172000.0,165000.0,227000.0,176000.0,30000.0,80300.0,156000.0
3,A2A7S8|K1522_MOUSE,23100.0,32100.0,18400.0,24600.0,26700.0,35100.0,30000.0,34700.0,24300.0,28800.0,22600.0,25200.0,35000.0,20600.0,20800.0,21800.0
4,A2A8L1|CHD5_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
proteins_v2 = pd.concat([pro3m_v2, pro6m_v2.drop(columns=["Accession"], axis=1), pro9m_v2.drop(columns=["Accession"], axis=1)], axis=1)
proteins_v2

,Accession,Sample 3131,Sample 3132,Sample 3140,Sample 3141,Sample 3153,Sample 3154,Sample 3156,Sample 3157,Sample 3346,...,Sample 2156,Sample 2227,Sample 2228,Sample 2229,Sample 2232,Sample 2582,Sample 2583,Sample 2721,Sample 3207,Sample 3234
0,A2A432|CUL4B_MOUSE,231000.0,336000.0,278000.0,251000.0,279000.0,238000.0,249000.0,298000.0,270000.0,...,75800.0,89500.0,88200.0,95400.0,55000.0,84300.0,69100.0,56300.0,49100.0,58100.0
1,A2A5R2|BIG2_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,37500.0,53400.0,81900.0,62800.0,34200.0,88300.0,83300.0,0.0,33200.0,49700.0
2,A2A699|F1712_MOUSE,413000.0,255000.0,278000.0,243000.0,443000.0,257000.0,224000.0,331000.0,418000.0,...,89900.0,227000.0,120000.0,172000.0,165000.0,227000.0,176000.0,30000.0,80300.0,156000.0
3,A2A7S8|K1522_MOUSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30000.0,34700.0,24300.0,28800.0,22600.0,25200.0,35000.0,20600.0,20800.0,21800.0
4,A2A8L1|CHD5_MOUSE,303000.0,491000.0,225000.0,473000.0,255000.0,157000.0,329000.0,508000.0,452000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964,Q9Z2W8|GRIA4_MOUSE,719000.0,797000.0,743000.0,984000.0,907000.0,806000.0,659000.0,781000.0,715000.0,...,451000.0,370000.0,389000.0,333000.0,318000.0,291000.0,367000.0,313000.0,287000.0,326000.0
2965,Q9Z2W9|GRIA3_MOUSE,770000.0,1060000.0,707000.0,1050000.0,894000.0,840000.0,597000.0,1230000.0,846000.0,...,241000.0,471000.0,315000.0,330000.0,428000.0,421000.0,369000.0,280000.0,388000.0,301000.0
2966,Q9Z2X1|HNRPF_MOUSE,614000.0,1130000.0,878000.0,720000.0,1070000.0,1770000.0,655000.0,585000.0,594000.0,...,380000.0,282000.0,343000.0,347000.0,251000.0,340000.0,288000.0,230000.0,224000.0,208000.0
2967,Q9Z2Y3|HOME1_MOUSE,1170000.0,1410000.0,1310000.0,1270000.0,977000.0,127000.0,1400000.0,1760000.0,1400000.0,...,606000.0,620000.0,736000.0,541000.0,568000.0,740000.0,781000.0,563000.0,648000.0,538000.0
2968,Q9Z2Y8|PLPHP_MOUSE,149000.0,265000.0,151000.0,320000.0,224000.0,263000.0,118000.0,498000.0,183000.0,...,245000.0,262000.0,234000.0,209000.0,183000.0,257000.0,302000.0,183000.0,184000.0,196000.0

## Cleaning and Saving

In [16]:
proteins_v2["Accession"] = proteins_v2["Accession"].apply(lambda x: x[:-6])
proteins_v2.index = proteins_v2["Accession"]
proteins_v2.drop(columns=["Accession"], inplace=True)
proteins_v2

,Sample 3131,Sample 3132,Sample 3140,Sample 3141,Sample 3153,Sample 3154,Sample 3156,Sample 3157,Sample 3346,Sample 3347,...,Sample 2156,Sample 2227,Sample 2228,Sample 2229,Sample 2232,Sample 2582,Sample 2583,Sample 2721,Sample 3207,Sample 3234
Accession,,,,,,,,,,,,,,,,,,,,,
A2A432|CUL4B,231000.0,336000.0,278000.0,251000.0,279000.0,238000.0,249000.0,298000.0,270000.0,285000.0,...,75800.0,89500.0,88200.0,95400.0,55000.0,84300.0,69100.0,56300.0,49100.0,58100.0
A2A5R2|BIG2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,37500.0,53400.0,81900.0,62800.0,34200.0,88300.0,83300.0,0.0,33200.0,49700.0
A2A699|F1712,413000.0,255000.0,278000.0,243000.0,443000.0,257000.0,224000.0,331000.0,418000.0,439000.0,...,89900.0,227000.0,120000.0,172000.0,165000.0,227000.0,176000.0,30000.0,80300.0,156000.0
A2A7S8|K1522,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,30000.0,34700.0,24300.0,28800.0,22600.0,25200.0,35000.0,20600.0,20800.0,21800.0
A2A8L1|CHD5,303000.0,491000.0,225000.0,473000.0,255000.0,157000.0,329000.0,508000.0,452000.0,213000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q9Z2W8|GRIA4,719000.0,797000.0,743000.0,984000.0,907000.0,806000.0,659000.0,781000.0,715000.0,827000.0,...,451000.0,370000.0,389000.0,333000.0,318000.0,291000.0,367000.0,313000.0,287000.0,326000.0
Q9Z2W9|GRIA3,770000.0,1060000.0,707000.0,1050000.0,894000.0,840000.0,597000.0,1230000.0,846000.0,726000.0,...,241000.0,471000.0,315000.0,330000.0,428000.0,421000.0,369000.0,280000.0,388000.0,301000.0
Q9Z2X1|HNRPF,614000.0,1130000.0,878000.0,720000.0,1070000.0,1770000.0,655000.0,585000.0,594000.0,642000.0,...,380000.0,282000.0,343000.0,347000.0,251000.0,340000.0,288000.0,230000.0,224000.0,208000.0
Q9Z2Y3|HOME1,1170000.0,1410000.0,1310000.0,1270000.0,977000.0,127000.0,1400000.0,1760000.0,1400000.0,1340000.0,...,606000.0,620000.0,736000.0,541000.0,568000.0,740000.0,781000.0,563000.0,648000.0,538000.0
Q9Z2Y8|PLPHP,149000.0,265000.0,151000.0,320000.0,224000.0,263000.0,118000.0,498000.0,183000.0,167000.0,...,245000.0,262000.0,234000.0,209000.0,183000.0,257000.0,302000.0,183000.0,184000.0,196000.0

In [17]:
pro3m_v2[pro3m_v2['Accession']=='Q7M750|OPALI_MOUSE']

,Accession,Sample 3131,Sample 3132,Sample 3140,Sample 3141,Sample 3153,Sample 3154,Sample 3156,Sample 3157,Sample 3346,Sample 3347,Sample 3388,Sample 3389,Sample 3606,Sample 3607,Sample 3608,Sample 3609
1550,Q7M750|OPALI_MOUSE,429000.0,1250000.0,728000.0,717000.0,595000.0,516000.0,526000.0,794000.0,654000.0,1030000.0,1070000.0,1190000.0,1200000.0,1360000.0,871000.0,1440000.0

In [18]:
proteins_v2.loc[['Q7M750|OPALI']]

,Sample 3131,Sample 3132,Sample 3140,Sample 3141,Sample 3153,Sample 3154,Sample 3156,Sample 3157,Sample 3346,Sample 3347,...,Sample 2156,Sample 2227,Sample 2228,Sample 2229,Sample 2232,Sample 2582,Sample 2583,Sample 2721,Sample 3207,Sample 3234
Accession,,,,,,,,,,,,,,,,,,,,,
Q7M750|OPALI,429000.0,1250000.0,728000.0,717000.0,595000.0,516000.0,526000.0,794000.0,654000.0,1030000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
proObs = pd.read_excel("./data/alzPro/alz_sample_id.xlsx")

proObs

    Qi ID sex Group Timepoint Validation
0    3131   M   HET        3m       Test
1    3132   M   HET        3m      Train
2    3140   M   HET        3m      Train
3    3141   M   HET        3m      Train
4    3153   F   HET        3m       Test
5    3154   F   HET        3m      Train
6    3156   F   HET        3m      Train
7    3157   F   HET        3m      Train
8    3346   F    WT        3m       Test
9    3347   F    WT        3m      Train
10   3388   F    WT        3m      Train
11   3389   F    WT        3m      Train
12   3606   M    WT        3m       Test
13   3607   M    WT        3m      Train
14   3608   M    WT        3m      Train
15   3609   M    WT        3m      Train
16   2997   M   HET        6m       Test
17   2998   M   HET        6m      Train
18   3003   F    WT        6m       Test
19   3011   F   HET        6m       Test
20   3012   F   HET        6m      Train
21   3013   F   HET        6m      Train
22   3121   M   HET        6m      Train
23   3177   F   HET        6m      Train
24   3325   M   HET        6m      Train
25   3392   M    WT        6m       Test
26   3393   M    WT        6m      Train
27   3400   F    WT        6m      Train
28   3405   F    WT        6m      Train
29   3513   M    WT        6m      Train
30   3526   F    WT        6m      Train
31   3703   M    WT        6m      Train
32   2143   M   HET        9m       Test
33   2145   M   HET        9m      Train
34   2146   M   HET        9m      Train
35   2147   M    WT        9m       Test
36   2148   M    WT        9m      Train
37   2150   M    WT        9m      Train
38   2156   F   HET        9m       Test
39   2227   F    WT        9m       Test
40   2228   F    WT        9m      Train
41   2229   F   HET        9m      Train
42   2232   F   HET        9m      Train
43   2582   M   HET        9m      Train
44   2583   F    WT        9m      Train
45   2721   F   HET        9m      Train
46   3207   F    WT        9m      Train
47   3234   M    WT        9m      Train

In [20]:
t1 = proteins_v2.T
t1.reset_index(drop=True, inplace=True)
t2 = proObs
t3 = pd.DataFrame(index=proteins_v2.index)
t3.head()

Empty DataFrame
Columns: []
Index: [A2A432|CUL4B, A2A5R2|BIG2, A2A699|F1712, A2A7S8|K1522, A2A8L1|CHD5]

In [21]:
adata = sc.AnnData(X=t1, obs=t2, var=t3)

/home/kojo/miniconda3/envs/trVAE/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  """Entry point for launching an IPython kernel.
/home/kojo/miniconda3/envs/trVAE/lib/python3.7/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [22]:
print(adata)

AnnData object with n_obs Ã— n_vars = 48 Ã— 2969
    obs: 'Qi ID', 'sex', 'Group', 'Timepoint', 'Validation'

In [23]:
adata.write_h5ad("./data/alzPro_count.h5ad")