In [2]:
import os
import scanpy as sc

home = '/home/kojo/Code/temporary-trvae-clone'
os.chdir(home)

In [3]:
adata = sc.read('./data/celeba.h5ad')
adata

AnnData object with n_obs × n_vars = 50000 × 3072
    obs: 'labels', 'condition'

In [4]:
adata.obs

       labels  condition
index
0          -1         -1
1          -1         -1
2          -1          1
3           1          1
4           1          1
...       ...        ...
49995      -1          1
49996       1         -1
49997       1         -1
49998      -1          1
49999       1          1

[50000 rows x 2 columns]

In [5]:
adata.var

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[3072 rows x 0 columns]

In [6]:
adata.X

array([[ 90.,  43.,  25., ..., 240., 200., 175.],
       [ 68.,  36.,  25., ..., 104.,  75.,  59.],
       [193., 149., 148., ...,  36.,  19.,  35.],
       ...,
       [123.,  66.,  39., ..., 148., 112.,  96.],
       [ 39.,  29.,  20., ..., 114.,  68.,  44.],
       [209., 158., 115., ..., 156.,  59.,  40.]], dtype=float32)